:root {
			--color-principal: #FFFFFF;
			--verde-oscuro: #15260C;
			--verde-claro:#CFFFB8;
			--verde-mas-claro: #DFFDD1;
			--verde: #98FE62;
            --verde-intermedio: #94FC62;
		}
		body {
			background-color: var(--verde-mas-claro);
		}
        
        /*header*/
        .ir-header {
            background-color: var(--verde-oscuro);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 85px;
            padding: 16px;
            border-radius: 5px;
            max-width: 80%;
            margin: 0 auto;
        }

        .ir-header p {
            cursor: default;
            margin-right: auto;
            padding-top: 16px;
            font-size: 20px;
        }

        .ir-header .ir-nav-links {
            list-style-type: none;
            padding: 8px 12px 0 0;
        }

        .ir-header .ir-nav-links li { 
            display: inline-block;
            padding: 0 20px;
        }

        .ir-header .ir-nav-links li:hover {
            transform: scale(1.2);
        }

        .ir-header .ir-nav-links li a:hover {
            color: var(--verde);
        }

        .ir-header .ir-nav-links a {
            color: var(--verde-claro);
            text-decoration: none;
        }

        .ir-header .ir-boton button{
            color: var(--verde-oscuro);
            padding: 8px 16px;
            background-color:var(--verde-intermedio) ;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            height: 45px;
            width: 150px;
        }

        /*Hero*/

        .ir-boton {
            border: none;
            border-radius: 5px;
        }

        .ir-boton.--oscuro {
            background-color: var(--verde-oscuro);
            color: var(--color-principal);
        }

        /*Nosotros*/

       /*Banner*/
        .ir-banner{
            background-color: var(--verde-oscuro);
            border-radius: 5px;
        }

       .ir-texto.--importante{
        color: var(--color-principal);
        font-size: 22px;
       }
       .ir-boton.--claro{
        background-color: var(--verde-intermedio);
        color: var(--verde-oscuro);
        font-size: 16px;
       }

        /*Nuestros servicios*/

		.ir-card {
			background-color: var(--verde-oscuro);
			border-radius: 5px;
			height: 100%;
		}
		.ir-card i {
			/* color: var(--verde); */
			background-color: transparent;
			font-size: 50px;
			text-align: center;
			display: block;
    		-webkit-text-stroke: 3px var(--verde);
		}
		.ir-texto {
			color: var(--verde-claro);
			font-size: 16px;
		}
		.ir-texto.--oscuro {
			color: var(--verde-oscuro);
		}
		.ir-texto.--justify {
			text-align: justify;
		}
		.ir-titulo {
			color: var(--verde-claro);
		}
		.ir-titulo.--oscuro{
			color: var(--verde-oscuro);
		}
		.h2.ir-titulo{
			font-size: 40px;
			text-align: center;
		}
		.h5.ir-titulo {
			font-size: 22px;
		}
		
	